<div style="text-align:center">
  <h1>{{currentFocus}}</h1>
  <h3>Latest news and events for {{month}}/{{day}}/{{year}}</h3>
  <h2>Welcome, {{userName}} to our {{ currentFocus }} website!</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in tellus id risus laoreet placerat. Ut vulputate scelerisque leo, ac hendrerit lorem accumsan quis. Fusce vitae egestas diam. Proin metus lectus, viverra nec purus et, vestibulum suscipit urna. Morbi sagittis tempus nulla, vitae aliquet risus. Donec bibendum dolor ut sagittis dapibus. Cras ut nulla quis nisi faucibus egestas. Nulla facilisi. Nulla facilisi. Maecenas viverra tristique semper. Vivamus semper a nibh eget lacinia. Nulla posuere aliquam lorem, vel sollicitudin arcu euismod nec. Vestibulum vitae auctor nulla. Duis sit amet ligula at tellus ornare varius a non erat</p>
</div>

<form>
  <label for="userName">Enter your name: </label>
  <input [(ngModel)]="userName" type="text" name="user">
</form>


<!-- <app-task-list [childTaskList]="masterTaskList" (clickSender)="editTask($event)"></app-task-list>
<app-edit-task [childSelectedTask]="selectedTask" (doneButtonClickedSender)="finishedEditing()"></app-edit-task>
<app-new-task (sendTask)="addTask($event)"></app-new-task> -->
